body {
  
}

a {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: inherit;

  &:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

:focus::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  animation: appear 0.3s;
  background-color: #fff;
  margin: 0.3rem auto;
}

@keyframes appear {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}