body {
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  width: fit-content;
  width: -moz-fit-content;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid white;
  }
}
