@media (max-width: 600px){
  .desktop-only, .desktop-tablet {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }

  .main-page {
    background:
      radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0.1), #00000033),
      linear-gradient(250deg, #15151566, #55555566),
      url('../img/background1.png');

      p {
        margin-bottom: 20vh;
      }
  }

  .about-page {
    &__container {
      flex-direction: column;
      justify-content: start;
    }

    &__text {
      flex-basis: auto;
    }
  }

  .advantage {
    flex-direction: column-reverse;

    &__text {
      padding: 0;
    }
  }
}